{% extends 'navigationbar.html' %}
{% block body %}
<div class="container page-container" style="max-width:500px;">
    <h2 class="text-center">Complete Appointment</h2>
    <br>
    <p>Are you sure you want to mark this appointment as <b>completed</b>?</p>

    <ul>
        <li><b>Patient:</b> {{ appointment.patient.name }}</li>
        <li><b>Date:</b> {{ appointment.date1 }}</li>
        <li><b>Time:</b> {{ appointment.time1 }}</li>
    </ul>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes, Mark Completed</button>
        <a href="{% url 'doctor_appointments' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
